@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Space+Grotesk:wght@300&display=swap');

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-family: 'Space Grotesk', sans-serif;
    background: linear-gradient(#457B9D, #F1FAEE);
}

.activity-img {
    min-width: 120px;
    max-height: 120px;
    display: flex;
    flex-direction: row; 
    border-radius: 5%;
}

#hero {
    background-image: url("https://eu-assets.simpleview-europe.com/telemark2018/imageresizer/?image=%2Fdbimgs%2Fiamnordic-15-07-21-0035%282%29.jpg&action=FeaturedItemsScroll3x2");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 50px 100px;
    color: white;
    text-shadow: 0px 4px 10px black;
    margin-bottom: 30px;
    border-bottom: solid black;
    
}

#activities {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 30px;
}

p:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 30px;
    font-size: 15px;
}

h1::first-letter {
    font-size: 40px;
}

#guide {
    display: flex;
    border: solid 2px;
    border-radius: 5px;
    flex-direction: column;
    margin: 100px auto 70px auto;
    width: 400px;
    padding: 40px;
}

#card {
   width: 150px;
   height: 200px; 
   margin: 0 auto;
   border: solid
}

